<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Notatki!{% endblock %}</title>

        {% block stylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="search-bar">
            <form method="GET" action="" class="js-sea-search sea-search">
                <input type="search" name="q" placeholder="Wyszukaj notatkę!" autocomplete="off" class="search-input">
            </form>
        </div>
        <header class="header">
            <h1 class="logo">Notatki!</h1>
        </header>

        <div class="main-content">
        {% block body %}{% endblock %}
    </div>

    {% block javascripts %}
        <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="{{ asset('js/main.js') }}"></script>
    {% endblock %}
</body>
</html>
